.git
.github
.idea
.junie
.ai
.agents
.claude
.cursor
node_modules
vendor
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
*.md
docker-compose*.yaml
compose*.yaml
phpunit.xml
phpstan.neon
pint.json
